.container {
  position: fixed;
  height: 97px;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.message {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: white;
  height: 21px;
}

.messageContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.messageGroup {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.closeIcon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: 35px;
  margin-top: auto;
  margin-bottom: auto;
}

.errorIcon {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
