.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 140px;
}

.item {
  display: flex;
  flex-direction: column;
}

.first-benefit {
  margin-bottom: 360px;
}

.second-benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
