.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ilustration-image {
  align-items: flex-end;
}

.item {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}

.title {
  font-weight: bold;
  font-size: 48px;
}

.description {
  font-weight: normal;
  font-size: 24px;
  padding-top: 30px;
  padding-right: 10px;
}
