.container {
    display: flex;
    width: 100%;
}

.ilustration-image {
    align-items:flex-end;
}

.item {
    padding-top: 140px;
}

.title {
    font-weight: bold;
    font-size: 48px;
    padding-left: 130px;
}

.description {
    font-weight: normal;
    font-size: 24px;
    padding-left: 130px;
    padding-top: 30px;
    padding-right: 10px;
}