.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 12px 17px;
  padding-right: 60px;
  margin-right: 10px;
  margin-bottom: 14px;
  max-width: 1080px;
  height: 123px;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 28px;
}

.separator {
  height: 100%;
  width: 1px;
  background-color: #c4c4c4;
  margin-left: 68px;
  margin-right: 35px;
}

.action-icons {
  position: absolute;
  display: flex;
  top: 14px;
  right: 15px;
}

.icon-button {
  padding: 0;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.icon {
  height: 16px;
  width: 16px;
}
