.container {
    box-sizing: border-box;
    display: flex;
    background-color: var(--color-blue-background);
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-bottom: 24;
    margin-right: "auto";
}