.button {
  cursor: pointer;
  background-color: var(--color-dark-blue);
  border: 0;
  border-radius: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.button:disabled {
  background-color: lightgray;
  cursor: initial;
}
