.container {
    display: flex;
    flex-direction: column;
    width: 502px;
}

.profileContent {
    background-color: var(--color-white-background);
    border-radius: 12px;
    padding: 40px;
}

.buttonContainer {
    display: flex;
    justify-content: right;
}