.container {
    display: grid;
    grid-row-gap: 45px;
    max-width: 1000px;
    margin-left: auto;
}

.title {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    color: var(--font-color-default);
    margin-bottom: 12px;
}

body {
    background-color: var(--color-gray-background);
}