.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family-default);
  color: var(--font-color-default);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.content {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.action-icon {
  padding: 0;
  height: 29px;
  width: 29px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 30px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.icon {
  height: 100%;
  width: 100%;
}

.separator {
  background-color: #787878;
  transform: matrix(1, 0, 0, -1, 0, 0);
  height: 1px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}
