.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #002642;
}

.content {
  padding-top: 42px;
  padding-bottom: 42px;
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 1000px;
}

.line {
  color: white;
  background-color: white;
  width: 1px;
  margin-left: 20px;
  margin-right: 20px;
  align-self: stretch;
}
