.container {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 34px;
}

.card {
  box-sizing: border-box;
  width: 521px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 47px;
  margin-top: 30px;
  margin-right: 41px;
}

.arrow {
  height: 52px;
  width: 52px;
}

.text {
  font-size: 18px;
  text-align: center;
}
