.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  font-size: 18px;
}

.errorMessage {
  color: var(--color-red);
  font-size: 16px;
  margin-top: 10px;
}

.drop-icon {
  margin-left: auto;
  height: 6px;
  width: 12px;
  margin-right: 19px;
  position: absolute;
  margin-left: auto;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input-container input {
  box-sizing: border-box;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  padding-left: 10px;
  padding-right: 10px;
  height: 43px;
  border-radius: 4px;
  font-size: 20px;
}

.options-container {
  z-index: 1;
  width: 100%;
  position: absolute;
  max-height: 300px;
  overflow: auto;
}
