.container {
  width: 590px;
  margin-left: auto;
  padding-right: 90px;
  padding-top: 40px;
}

.login {
  margin-left: auto;
  margin-bottom: 63px;
}

.link {
  font-weight: bold;
  color: var(--color-light-blue);
  text-decoration: none;
}
